@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg-main-pink: #fce7f3;
  --color-bg-main-blue: #dbeafe;
  --color-bg-main-green: #dcfce7;
  --color-primary-pink: #ec4899;
  --color-primary-green: #22c55e;
  --color-primary-blue: #3b82f6;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Fredoka", sans-serif !important;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

.green-gradient {
  background: linear-gradient(90deg, #22c55e 0%, #16a34a 100%);
}
